<!DOCTYPE html>
<html>
<head>
<link href="/css/styles.css" rel="stylesheet">
</head>	
<body>

<ul>
	<li><a class="active" href="#home">Home</a></li>
  
   <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Solicitações</a>
    <div class="dropdown-content">
      <a href="/solicitacoes">Consultar</a>
     </div>
  </li>
  
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Aluno</a>
    <div class="dropdown-content">
      <a href="/aluno/alterar">Alterar</a>
      <a href="/aluno/cadastrar">Cadastrar</a>
      <a href="/aluno/excluir">Excluir</a>
     </div>
  </li> 
  
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Evento</a>
    <div class="dropdown-content">
      <a href="#">Alterar</a>
      <a href="#">Cadastrar</a>
      <a href="#">Excluir</a>
     </div>
  </li>  
</ul>

</body>
</html>