 <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<h2>Solicitações</h2>

	<table style="width: 100%">
	<thead>
		<tr>
			<th>Nome Aluno</th>
			<th>Tipo Documento</th>
			<th>Data Solicitaçao</th>
			<th>Status</th>
		</tr>
	</thead>
	
	<tbody>
		 <tr th:each="solicitacao : ${solicitacoes}">
			<td><span th:text="${solicitacao.Aluno}"></span></td>
			<td><span th:text="${solicitacao.Documento}"></span></td>
			<td><span th:text="${solicitacao.Data}"></span></td>
			<td><span th:text="${solicitacao.Status}"></span></td>		
		</tr>		
			</tbody>		
	</table>
</body>
</html>
