<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="menu">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="ti-home menu-icon"></i>
                    <span class="menu-title">Início</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/solicitacoes/consultar/}">
                    <i class="ti-write menu-icon"></i>
                    <span class="menu-title">Solicitações</span>
                </a>
            </li>
        </ul>
    </nav>
</html>