<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="ti-home menu-icon"></i>
                    <span class="menu-title">Início</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="ti-write menu-icon"></i>
                    <span class="menu-title">Solicitações</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#">Bilhete Único</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Certificados</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</html>