<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<link href="css/style.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	
</script>

<script>
	$(function() {
		$("#logar").click(function() {
			$("#formLogar").submit();
		});
	});

	$(function() {
		$("#cadastro_op").click(function() {
			$("#formCadastro").submit();
		});
	});
</script>

</head>
<body>
	<div class="container">

		<div class="box">
			<h3>Login Operador</h3>
			<form action="/logar" method="post" id="formLogar">			
					
				<label for="username">Email</label>: 
				<input type="text"	placeholder="Enter Email" id="email" name="email" autofocus="autofocus" required /><br /><br />
				
				<label for="password">Password</label>:
				<input type="password" id="password" placeholder="Enter Password" name="password" required /><br /> <br />
				
				<input type="button" id="logar" value="Logar" /> 
				<input type="button" id="cadastro_op" value="Cadastrar Operador" />
			
			</form>			
			<form action="/cadastrologin" method="post" id="formCadastro">
			</form>
			
		</div>
	</div>
</body>
</html>

